@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./../fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

// @font-face {
//   font-family: 'Inter';
//   font-weight: 100;
//   src: local('Inter'), url('./../fonts/Inter-Thin.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 200;
//   src: local('Inter'), url('./../fonts/Inter-ExtraLight.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 300;
//   src: local('Inter'), url('./../fonts/Inter-Light.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 400;
//   src: local('Inter'), url('./../fonts/Inter-Regular.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 500;
//   src: local('Inter'), url('./../fonts/Inter-Medium.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 600;
//   src: local('Inter'), url('./../fonts/Inter-SemiBold.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 700;
//   src: local('Inter'), url('./../fonts/Inter-Bold.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 800;
//   src: local('Inter'), url('./../fonts/Inter-ExtraBold.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter';
//   font-weight: 900;
//   src: local('Inter'), url('./../fonts/Inter-Black.ttf') format('ttf');
// }

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 900;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Black.otf') format('otf');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 700;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Bold.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 500;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Medium.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Regular.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 300;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Light.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 100;
  src: local('NotoSansJP'), url('./../fonts/NotoSansJP-Thin.otf') format('otf');
}

@import './variable.scss';
@import './loading.scss';
@import './common.scss';

// start CSS reset!
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'NotoSansJP';
  font-style: normal;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
  }
}

@import './layout.scss';
@import './pages/auth.scss';
@import './pages/home.scss';
@import './pages/my-record.scss';
@import './pages/column.scss';
