@import './variable.scss';
.btn-primary {
  background: $colorPrimary300400;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 296px;
  border: none;

  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $colorLight;
}

.go-to-top {
  position: fixed;
  right: 96px;
  bottom: 272px;
  background-color: $colorLight;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
