$colorLight: #ffffff;
$colorPrimary300: #ffcc21;
$colorPrimary400: #ff963c;
$colorPrimary500: #ea6c00;
$colorSecondary300: #8fe9d0;
$colorPrimary300400: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);
$colorDark600: #2e2e2e;
$colorDark500: #414141;
$colorGray400: #777777;

$appHeaderHeight: 64px;
$appWidth: 1280px;
$appContentWidth: 960px;
